body { background-image: mine.jpg;
      width=500px;
      height=500px;
}

body  
{
background-color: whitesmoke;
      }
h1{
  color:#66BFBF;
}
h3 {
  color:#66BFBF;
}
 hr {
    background-color: white;
  border-style: none;

  border-bottom-style: dotted;
height: 0px;

width: 5%;

border-color: black;
border-width: 8px;

 }
 

body  
{
background-color: whitesmoke;
      }
h1{
  color:#66BFBF;
}
h3 {
  color:#66BFBF;
}
 hr {
    background-color: white;
  border-style: none;

  border-bottom-style: dotted;
height: 0px;

width: 5%;

border-color: black;
border-width: 8px;

 }
 
 table{
  border-collapse: separate; border-spacing: 10px;
 }
 table{
  border-collapse: separate; border-spacing: 10px;
 }
